* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #333;
}

.content {
  text-align: center;
  color: white;
}

h1 {
  margin: 30px auto;
  margin-bottom: 100px;
  font-size: 50px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.form div.price,
.form .final-price {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  .form div.price,
  .form .final-price {
    gap: 10px;
  }
  .form .final-price {
    flex-direction: column-reverse;
  }
  .form div.price {
    flex-direction: column;
  }
}

div.igmally {
  display: flex;
}

.form label {
  font-size: 23px;
  margin-left: 20px;
}

.form input {
  padding: 5px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  caret-color: white;
  color: white;
  font-size: 20px;
}

span {
  display: block;
  width: 80px;
  font-size: 20px;

  font-weight: bold;
}

.buttons {
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  border: none;
  color: white;
  background-color: #0075ff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

button.save {
  margin: 20px;
}

button:active {
  animation: btnscale 6s ease;
}

button:hover {
  background-color: #0060ce;
}

button.del {
  background-color: tomato;
}
button.del:hover {
  background-color: rgb(255, 69, 36);
}

@keyframes btnscale {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

table {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

th,
td {
  border: 1px solid white;
  padding: 5px;
  /* width: 100px; */
}

/* error message */

.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000087;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.error .text-error {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  width: 800px;
}
